<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.net.gmedia.perkasaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeActionBar">
        <activity
            android:name=".ActivitySplashScreen"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityLogin"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ActivityHome"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".ActivityOrderPerdana1" />
        <activity android:name=".ActivityOrderMkios1" />
        <activity android:name=".ActivityPenjualanHariIni" />
        <activity android:name=".ActivityOrderMkios2" />
        <activity android:name=".ActivityOrderPerdana2" />
        <activity android:name=".ActivityStokPerdana"></activity>
    </application>

</manifest>